# https://github.com/drduh/config/blob/main/ssh_config
# https://linux.die.net/man/5/ssh_config

#Host r route router
#  HostName 192.168.1.1
#  IdentityFile ~/.ssh/router
#  Port 2400
#  User sysadm

Host github.com
  User git
  ControlMaster no
  IdentitiesOnly yes
  IdentityFile ~/.ssh/github
  MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

Host *
  #ControlMaster auto
  #ControlPath ~/.ssh/ctl-%r@%h:%p
  #ControlPersist 300
  AddressFamily inet
  HashKnownHosts yes
  VisualHostKey yes
  PasswordAuthentication no
  ChallengeResponseAuthentication no
  StrictHostKeyChecking ask
  VerifyHostKeyDNS yes
  ForwardAgent no
  ForwardX11 no
  ForwardX11Trusted no
  ServerAliveInterval 300
  ServerAliveCountMax 2
  # ssh -Q cipher
  Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com
  # ssh -Q mac
  MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com
  # ssh -Q kex
  KexAlgorithms mlkem768x25519-sha256,sntrup761x25519-sha512@openssh.com,curve25519-sha256,diffie-hellman-group16-sha512
  # ssh -Q key
  HostKeyAlgorithms rsa-sha2-512,rsa-sha2-256,ssh-ed25519
