# https://github.com/drduh/config/blob/master/sshd_config
# https://linux.die.net/man/5/sshd_config
Port 22
AddressFamily inet
ListenAddress 0.0.0.0
#ListenAddress 172.16.255.1
#ListenAddress 10.8.1.1
AllowUsers sysadm
HostKey /etc/ssh/ssh_host_key
#HostKey /etc/ssh/ssh_host_ed25519_key
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com
MACs hmac-sha2-512-etm@openssh.com
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
RekeyLimit 256M
SyslogFacility AUTH
LogLevel VERBOSE
MaxStartups 1
MaxSessions 1
LoginGraceTime 10s
MaxAuthTries 3
ClientAliveInterval 30
ClientAliveCountMax 20
PermitRootLogin no
StrictModes yes
PubkeyAuthentication yes
AuthorizedKeysFile %h/.ssh/authorized_keys
IgnoreRhosts yes
PasswordAuthentication no
PermitEmptyPasswords no
HostbasedAuthentication no
ChallengeResponseAuthentication no
Compression delayed
AllowTcpForwarding no
X11Forwarding no
GatewayPorts no
PermitTunnel no
TCPKeepAlive yes
UseDNS no
PrintMotd no
PrintLastLog yes
PermitUserEnvironment no
#Subsystem sftp  /usr/libexec/sftp-server
