# https://github.com/drduh/config/blob/main/openssl.cnf
# https://github.com/openssl/openssl/blob/master/apps/openssl.cnf
[ req ]
prompt             = no
default_bits       = 4096
default_keyfile    = local.key
default_md         = sha384
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[ req_distinguished_name ]
commonName         = example.local

[ req_ext ]
subjectAltName     = @alt_names

[ alt_names ]
DNS.1              = example.local

[ ca ]
default_ca         = CA_default

[ CA_default ]
dir                = ./demoCA               # Where everything is kept
certs              = $dir/certs             # Where the issued certs are kept
crl_dir            = $dir/crl               # Where the issued crl are kept
database           = $dir/index.txt         # database index file
new_certs_dir      = $dir/newcerts          # default place for new certs
certificate        = $dir/cacert.pem        # The CA certificate
serial             = $dir/serial            # The current serial number
crlnumber          = $dir/crlnumber         # the current crl number
crl                = $dir/crl.pem           # The current CRL
private_key        = $dir/private/cakey.pem # The private key
RANDFILE           = $dir/private/.rand     # private random number file
x509_extensions    = usr_cert               # The extensions to add to the cert
name_opt           = ca_default             # Subject Name options
cert_opt           = ca_default             # Certificate field options
default_days       = 365                    # how long to certify for
default_crl_days   = 30                     # how long before next CRL
default_md         = default                # use public key default MD
preserve           = no                     # keep passed DN ordering
policy             = policy_match

[ policy_match ]
commonName              = supplied
countryName             = optional
emailAddress            = optional
organizationName        = optional
organizationalUnitName  = optional
stateOrProvinceName     = optional

[ policy_anything ]
commonName              = supplied
countryName             = optional
emailAddress            = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
stateOrProvinceName     = optional

[ v3_ca ]
authorityKeyIdentifier = keyid:always,issuer
basicConstraints       = critical,CA:true
subjectKeyIdentifier   = hash
#keyUsage              = cRLSign, keyCertSign

[ tls_client ]
basicConstraints = CA:FALSE
extendedKeyUsage = clientAuth
keyUsage         = digitalSignature, keyEncipherment, dataEncipherment
nsCertType       = client

[ tls_server ]
basicConstraints     = CA:FALSE
extendedKeyUsage     = serverAuth
keyUsage             = digitalSignature, keyEncipherment
nsCertType           = server
subjectKeyIdentifier = hash
